@import "~bulma/sass/utilities/_all"
@import './variables'

footer.footer.sitefooter
  background-color: $color-primary;
  padding: 3em;

  +tablet
    display: flex;
    justify-content: space-between;
    align-items: center;

  .sitefooter
    &__logo
      text-align: center;
      margin-bottom: 2rem;
      +tablet
        margin: 0;
      img
        max-width: 12em;
      

    &__cc
      width: 100vw;
      text-align: center;
      max-width: 16em;
      margin: auto;
      +tablet
        margin: 0;
      a 
        font-size: 0.75em;
        line-height: 1.2;
        color: white;
        &:hover
          color: white;

    &__cclogo
      img 
        width: 2em;
        &:not(:last-child)
          margin-right: 0.25em;