@import "~bulma/sass/utilities/_all"

.navbar 
  border-bottom: 1px #eee solid;

  &-end
    display: flex;
    justify-content: center;

  &__lang.navbar-item
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    .button.is-small
      height: 2.5em;
      width: 2.5em;
      line-height: 2.5em;
      text-align: center;
      padding: 0;
      border-radius: 100%;

  +desktop
    .navbar-start
      .navbar-item:first-child
        margin-left: 3rem;

      

