.search-box
    width: 100%;
    margin: 0 auto 2em;
    border-radius: .625em;
    border: .0625em solid rgba(0,0,0,0.8);
    box-shadow: 0 .0625em .25em rgba(0,0,0,0.1);
    padding: .8125em;
    font-family: inherit;
    color: inherit;
    background-color: transparent;